body {
    background-color: #1E3741;
    font-family: Arial, Trebuchet MS, tahoma, Verdana,Sans-Serif;
    font-size: 11px;
    font-weight: bold;
}

ul, li, a, img {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

.subnav {
    display: none;
}

nav > ul > li {
    display: inline-block;
    color: #89968C;
    padding: 5px 10px;
    background-color: #4B5F67;
    margin-right: 2px;
    float: left;
}

    nav > ul > li:hover {
        color: #fff;
        background-color: #1E3741;
    }

        nav > ul > li:hover .subnav {
            position: absolute;
            left: 0;
            display: block;
            width: 300px;
        }

            nav > ul > li:hover .subnav li {
                border-bottom: 1px solid #4B5F67;
                padding: 10px;
            }

                nav > ul > li:hover .subnav li:first-of-type {
                    margin-top: 15px;
                }

                nav > ul > li:hover .subnav li:last-of-type {
                    border: none;
                }

                nav > ul > li:hover .subnav li a {
                    text-decoration: none;
                    color: #87A59F;
                }

                nav > ul > li:hover .subnav li:hover {
                    background-color: #00968C;
                }

                    nav > ul > li:hover .subnav li:hover img {
                        display: block;
                    }

                    nav > ul > li:hover .subnav li:hover a {
                        text-decoration: none;
                        background-color: #00968C;
                        color: #fff;
                    }

img {
    position: absolute;
    left: 300px;
    top: 15px;
    display: none;
}
