table, tr, td, thead, tfoot, tbody, button, div {
    margin: 0;
    padding: 0;
}

td, tr {
    padding: 1px 1px 0px 1px;
    margin: 1px 1px 0px 1px;
}

.main-window tr th {
    background-color: #BEDDFB;
    background-image: url(../Images/calc-icon.png);
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 20px;
    vertical-align: central;
}

.main-window {
    border-spacing: 0;
    width: 423px;
    height: 389px;
    border: 7px solid #BEDDFB;
    background-color: #DBE2EC;
    border-radius: 10px 10px;
    padding-bottom: 10px;
}

.dropdown-menu {
    height: 20px;
    background: #f7faff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y3ZmFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iI2UxZTlmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #f7faff 1%, #e1e9f6 54%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f7faff), color-stop(54%,#e1e9f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7faff 1%,#e1e9f6 54%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7faff 1%,#e1e9f6 54%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7faff 1%,#e1e9f6 54%); /* IE10+ */
    background: linear-gradient(to bottom, #f7faff 1%,#e1e9f6 54%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faff', endColorstr='#e1e9f6',GradientType=0 ); /* IE6-8 */
}

    .dropdown-menu button {
        padding: 1px 6px 1px 6px;
        border: none;
        background: none;
        margin: 1px;
        width: inherit;
        height: inherit;
    }

        .dropdown-menu button:hover {
            border: none;
            background: none;
            border: 1px solid #1656ee;
            background-color: #BCE0F4;
            margin: 0;
        }

        .dropdown-menu button:first-letter {
            text-decoration: underline;
        }

.binary-digits {
    margin: 3px 8px 3px 8px;
    height: 65px;
    width: 390px;
    font: normal 11px arial, verdana;
    color: #1E395B;
}

    .binary-digits td {
        font-weight: bold;
        margin: 0;
        padding: 0;
        padding-right: 19px;
        padding-left: 5px;
    }

div, button, input {
    border-radius: 3px 3px;
    border: 1px solid #8797AA;
}

div {
    width: 100%;
    height: 100%;
    background-color: #D9E4F1;
}

button {
    color: #1E395B;
    height: 99%;
    width: 99%;
    background: #ebf2fc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ViZjJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iI2RiZTJlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #ebf2fc 1%, #dbe2ec 62%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ebf2fc), color-stop(62%,#dbe2ec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ebf2fc 1%,#dbe2ec 62%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ebf2fc 1%,#dbe2ec 62%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ebf2fc 1%,#dbe2ec 62%); /* IE10+ */
    background: linear-gradient(to bottom, #ebf2fc 1%,#dbe2ec 62%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf2fc', endColorstr='#dbe2ec',GradientType=0 ); /* IE6-8 */
}

    button[disabled=disabled] {
        background: none;
        background-color: #D9E4F1;
        border: 1px solid #B4C2D1;
    }

    button:hover, button.m:hover, button.digit:hover {
        border: 1px solid #fc7936;
        background: #faedcd; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZhZWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iI2YwZjQ5ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top, #faedcd 1%, #f0f49d 92%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#faedcd), color-stop(92%,#f0f49d)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #faedcd 1%,#f0f49d 92%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #faedcd 1%,#f0f49d 92%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #faedcd 1%,#f0f49d 92%); /* IE10+ */
        background: linear-gradient(to bottom, #faedcd 1%,#f0f49d 92%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faedcd', endColorstr='#f0f49d',GradientType=0 ); /* IE6-8 */
    }

        button:hover:disabled {
            background: none;
            background-color: #D9E4F1;
            border: 1px solid #B4C2D1;
        }

table.programmer-buttons {
    margin-left: 5px;
}

    table.standart-buttons td, table.programmer-buttons td {
        width: 40px;
        height: 30px;
    }

table {
    table-layout: fixed;
}

button.m {
    background: none;
    background-color: #D3DFEB;
}

button.digit {
    background: rgb(244,253,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y0ZmRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGVkZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(244,253,255,1) 1%, rgba(228,237,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(244,253,255,1)), color-stop(100%,rgba(228,237,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(244,253,255,1) 1%,rgba(228,237,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(244,253,255,1) 1%,rgba(228,237,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(244,253,255,1) 1%,rgba(228,237,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(244,253,255,1) 1%,rgba(228,237,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fdff', endColorstr='#e4edf2',GradientType=0 ); /* IE6-8 */
}

.output-result {
    margin: 8px 8px 2px 8px;
    height: 50px;
    width: 96%;
    font: 500 20px arial;
    text-align: right;
    background: rgb(229,238,251); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNyUiIHN0b3AtY29sb3I9IiNlNWVlZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(229,238,251,1) 17%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(229,238,251,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(229,238,251,1) 17%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(229,238,251,1) 17%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(229,238,251,1) 17%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(229,238,251,1) 17%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eefb', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

input[type=radio] {
    margin: 6px 2px 2px 7px;
}

    input[type=radio]:active {
        color: red;
    }

label {
    font: normal 12px arial, verdana;
    color: #1E395B;
}

.btn-bigger-text {
    font: normal 22px arial, verdana;
}

.digit-position {
    color: #666666;
}
