body {
    background-color: rgb(164, 250, 250);
    color: rgb(12, 43, 83);
    font-family: Calibri;
}

h1 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-style: italic;
}

hr {
    border-color: lightgray;
}

dl {
    counter-reset: item1; 
    font-style: italic;
}

dt:before {
    counter-increment: item1; content:
    counter(item1) ". ";
}

dd {
    font-style: normal;
}