root {
    display: block;
}

body, table, td, fieldset
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
}

#content
{
    margin: 10px;
}

fieldset
{
    margin: 0px;
    padding: 0px;
}

table
{
    border: 1px solid #706f6f;
    border-spacing: 0px;
}

td, th
{
    border: 1px solid #bfbfbf;
    padding: 5px;
}

.total
{
    font-weight: bold;
    text-align: center;
}

ul
{
    display: inline;
    margin: 0px;
    padding: 0px;
}

li
{
    list-style: none;
    display: inline;
}