.clearfix {
	zoom: 1;

	&:after, &:before {
		content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
	}

	&:after  {
	clear: both;
	}
}

@mixin body-gradient-background($from-color, $to-color, $from-pos, $to-pos) {
	background: $from-color; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzOTdmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iIzk0MTRmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, $from-color $from-pos, $to-color $to-pos); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop($from-pos,$from-color), color-stop($to-pos,$to-color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $from-color $from-pos,$to-color $to-pos); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $from-color $from-pos,$to-color $to-pos); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $from-color $from-pos,$to-color $to-pos); /* IE10+ */
    background: linear-gradient(to bottom, $from-color $from-pos,$to-color $to-pos); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from-color}', endColorstr='#{$to-color}',GradientType=0 ); /* IE6-8 */
}

@mixin rounded-borders {
	border-radius: 15px 15px;
}

body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
    display: block;
}

body
{
    font: 14px normal Arial;
    color: white;
	@include body-gradient-background(#d397fb, #9414f3, 0%, 21%);

	header {
	    padding-top: 25px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;

		div {
			&#header-container {
				@extend .clearfix;

				div {
					&#logo-container{
						float: left;
						position: relative;
					}

					&#reg-form-container {
						float: right;
						position: relative;
						right: 5%;
						top: 50%;

						div {
							text-align: right;

							label {
								width: 50px;
								margin: 5px;
							}

							input {
								width: 130px;
								border: 1px solid #603382;
								border-radius: 10px;
								padding: 2px 5px;
								margin: 5px;
							}
						}

						button {
							margin-left: auto;
							margin-right: auto;
							font-weight: bold;
							border: 1px outset #ccc;
							border-radius: 10px;
							padding: 5px 8px;
							background-color: #A654DD;
							color: white;

							&:hover {
							background-color: #8949b9;
							border-style: inset;
							} 
						}

						form {
							input {
								background-color: #B361F3;
							}
						}
					}
				}
			}
		}

		nav {
			display: inline-block;
            width: 75%;
            margin: 20px 20px 20px 20px;
            padding: 12px;
            border: 2px solid #000;
			@include rounded-borders;
			@extend .clearfix;

			ul {
				@extend .clearfix;

				&.nav-list {
					list-style-type: none;
				}

				li {
					float: left;
					margin: 0;

					a {
						text-decoration: none;
						padding: 0 10px 0 10px;
						color: white;
						font: 1.4em normal Arial;

						&.selected {
							font-weight: bold;
						}
					}

					&:hover {
						&>a {
							text-decoration: underline;
							color: #a8a8a8;

							&+ul {
								display: block;
							}
						}
					}

					ul {
						&.sub-nav-list {
							position: absolute;
							display: none;
							background-color: rgba(179, 94, 243, 0.9);
							border-radius: 5px;
							@extend .clearfix;
						}

						li {
							float: none;
							margin: 0 15px;
							padding: 10px 0;
							border-bottom: 1px solid black;

							&:last-of-type {
								border-bottom: none;
							}

							&>a {
								font-size: 1.2em;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	footer {
		clear: both;
        padding-top: 15px;
        padding-bottom: 25px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;

		p {
			font-size: 1.2em;
            font-weight: bold;
		}
	}

	section {
		width: 75%;
        float: left;
        color: white;
		@extend .clearfix;

		article {
			margin: 20px;
            padding: 20px;
            border: 1px solid black;
			@include rounded-borders;

			header {
				background: none;
                padding: 5px;

				h1 {
					font-size: 1.4em;
                    padding: 0;
				}
			}

			footer {
				padding: 5px;

				p {
					font-size: 16px;
                    text-align: right;
                    font-weight: normal;

					time {
						font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
					}

					a {
						text-decoration: none;
                        color: #ccc;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	aside {
		float: left;
        width: 20%;
        margin: 20px;
		@extend .clearfix;

		ul {
			li {
				ul {
					list-style-image: url(../images/li-dot.png);
					padding-left: 25px;
				}
			}
		}

		&>ul {
			list-style-type: none;

			&> li {
				margin: 15px 0;
                padding: 15px;
                border: 1px solid black;
                border-radius: 5px;

				h2 {
					font-size: 1.1em;
                    font-weight: bold;
				}

				p {
					margin-top: 10px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    font-size: 14px;

					a {
						color: #aaaaaa;
                        text-decoration: none;
					}

					strong {
						color: #cccccc;
                        font-weight: bold;
                        font-style: normal;
					}

					em {
						color: #cccccc;
                        font-weight: normal;
                        font-style: italic;
					}
				}

				ul {
					list-style-type: none;
                    margin-top: 10px;
                    margin-right: 0;
                    margin-bottom: 10px;
                    margin-left: 0px;

					li {
						margin-top: 5px;
                        margin-left: 10px;
                        margin-bottom: 0px;
                        margin-right: 0px;
                        background: url(images/li-dot.png) no-repeat;
                        background-position: 0 50%;
                        padding-left: 0;
					}
				}
			}
		}
	}
}