section, ul, li, img input, label, body {
  padding: 0;
  margin: 0; }

body img {
  width: 50px;
  height: 50px; }
body section ul {
  list-style-type: none; }
  body section ul li {
    float: left;
    padding: 5px; }
    body section ul li input[type=radio] {
      display: none; }
      body section ul li input[type=radio]:checked + img {
        display: block; }
    body section ul li img.small-image {
      width: 100px;
      height: 100px; }
    body section ul li img.large-image {
      position: absolute;
      padding-top: 15px;
      left: 5px;
      display: none;
      width: 500px;
      height: 500px; }

