* {
    margin: 0;
    padding: 0;
}

img {
    width: 15px;
}

div#wrapper {
    width: 960px;
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size: 19px;
}

    div#wrapper ul {
        width: 470px;
        margin: 25px;
        border: 1px solid black;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: #ababab; /* Old browsers */
        background: -moz-linear-gradient(top, #ababab 0%, #dddddd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ababab), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ababab 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ababab 0%,#dddddd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ababab 0%,#dddddd 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ababab 0%,#dddddd 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    }

        div#wrapper ul li {
            border-right: 1px solid black;
        }

            div#wrapper ul li:last-of-type {
                border-right: none;
            }

        div#wrapper ul li {
            display: inline-block;
            padding-right: 15px;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 15px;
        }

            div#wrapper ul li a span {
                color: #777777;
            }

            div#wrapper ul li div.content {
                display: none;
            }

a {
    text-decoration: none;
}
